<section  id="section-community-partners" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="main-section">
		<div class="arth-heading arth-heading-regular">
			Partners
		</div>

		<div class="tab-section">
			<ul class="tab">
				<li class="tab-link current" data-tab="tab-1">Investors</li>
				<li class="tab-link" data-tab="tab-2">Blockchain & Tech</li>
				<li class="tab-link" data-tab="tab-3">Exchanges</li>
				<li class="tab-link" data-tab="tab-4">Staking & Farming</li>	
				<li class="tab-link" data-tab="tab-5">Community, Marketing, PR, Others</li>		 	 		 
			</ul>
		</div>

		<div id="tab-1" class="tab-content current">
			
			<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.moonrockcapital.io/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="moonrock"></span>
							<div class="partner-desc">
								<p class="partner-name">Moonrock</p>	
								<p class="partner-text">
									Moonrock Capital is a Blockchain Advisory and Investment Partnership based in London and Hamburg.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
				
				<div class="col-md-6 col-sm-6 btm-space">
					<a>
						<div class="partner-box">
							<span class="partner-logos" id="x21"></span>
							<div class="partner-desc">
								<p class="partner-name">X21 Digital</p>	
								<p class="partner-text">
									X21 Digitial is a Blockchain Advisory and Investment firm dedicated to helping mainly blockchain startups accelerate their growth and exposure in the industry.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
		    </div>

			<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://amestenasset.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="amesten"></span>
							<div class="partner-desc">
								<p class="partner-name">Amesten</p>	
								<p class="partner-text">
									Amesten Asset Management is an open and straightforward crypto asset management investment fund service.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
				
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.netzero.capital/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="netzero"></span>
							<div class="partner-desc">
								<p class="partner-name">NetZero</p>	
								<p class="partner-text">
									NetZero Capital was founded by a group of experienced investors from within the digital asset space coming together and recognising a shift in the landscape for capitalising emerging projects.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
		   </div>

			<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://magnusdigitalassets.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="magnus"></span>
							<div class="partner-desc">
								<p class="partner-name">Magnus Capital</p>	
								<p class="partner-text">
									Magnus Capital has been investing in the digital assets space since 2017.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
				
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://blackedge.io/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="blackedge"></span>
							<div class="partner-desc">
								<p class="partner-name">BlackEdge Capital</p>	
								<p class="partner-text">
									Black Edge Capital is a leading blockchain fund, consultancy & service agency, active in the space since early 2017.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
		   </div>

		   	<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.genesisblockcapital.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="gbv"></span>
							<div class="partner-desc">
								<p class="partner-name">GBV</p>	
								<p class="partner-text">
									GBV Capital  invests in and builds revolutionary Blockchain and Cryptocurrency platforms for a better tomorrow.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
				
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.blackdragon.io/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="blackdragon"></span>
							<div class="partner-desc">
								<p class="partner-name">BlackDragon</p>	
								<p class="partner-text">
									Community based investment group focused exclusively on blockchain technology and the digital currency ecosystem.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
		   </div>			   		   
		</div>

		<div id="tab-2" class="tab-content">
		 	<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://matic.network/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="matic"></span>
							<div class="partner-desc">
								<p class="partner-name">Matic</p>	
								<p class="partner-text">
									Matic Network brings massive scale to Ethereum using an adapted version of Plasma with PoS based side chains.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>

				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://elrond.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="elrond"></span>
							<div class="partner-desc">
								<p class="partner-name">Elrond</p>	
								<p class="partner-text">
									A highly scalable, fast and secure blockchain platform for distributed apps, enterprise use cases and the new internet economy.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
			 </div>
		</div>

		<div id="tab-3" class="tab-content">
		 	<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://uniswap.org/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="uniswap"></span>
							<div class="partner-desc">
								<p class="partner-name">Uniswap</p>	
								<p class="partner-text">
									Uniswap is a decentralized protocol for automated liquidity provision on Ethereum.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>

				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.polkastarter.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="polkastarter"></span>
							<div class="partner-desc">
								<p class="partner-name">Polkastarter</p>	
								<p class="partner-text">
									A DEX built for cross-chain token pools and auctions, enabling projects to raise capital on a decentralized, permissionless and interoperable environment.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
			</div>
		</div>


		<div id="tab-4" class="tab-content">
			<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.easyfi.network/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="easyfi"></span>
							<div class="partner-desc">
								<p class="partner-name">EasyFi</p>	
								<p class="partner-text">
									EasyFi is a protocol built with a vision to solve some of the inherent challenges faced by gen 1 defi solutions with respect to the transaction speed and cost which are a bottleneck for defi operations at scale.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>

				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://ferrum.network/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="ferrum"></span>
							<div class="partner-desc">
								<p class="partner-name">Ferrum Network</p>	
								<p class="partner-text">
									Ferrum Network, designed by a distributed systems expert with over ten years experience at the world’s biggest tech companies, was built to address two fundamental problems impeding the mainstream adoption of cryptocurrencies.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>>  
			</div>
		</div>	

		<div id="tab-5" class="tab-content">
			<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://marketacross.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="marketacross"></span>
							<div class="partner-desc">
								<p class="partner-name">MarketAcross</p>	
								<p class="partner-text">
									MarketAcross is a premium content marketing solution for startups and cryptocurrencies.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
				
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.madchatter.in/" target="_blank"> 
						<div class="partner-box">
							<span class="partner-logos" id="madchatter"></span>
							<div class="partner-desc">
								<p class="partner-name">Madchatter</p>	
								<p class="partner-text">
									Mumbai based public relations firm that works with early stage businesses to help launch them into the public domain using strategic communications.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
		    </div>

			<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.acchalabs.ai/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="acchalabs"></span>
							<div class="partner-desc">
								<p class="partner-name">Accha Labs</p>	
								<p class="partner-text">
									Growth Strategy, Marketing and Innovation towards a Distributed Future.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
				
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://prudentiaadvisory.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="prudentia"></span>
							<div class="partner-desc">
								<p class="partner-name">Prudentia Advisory</p>	
								<p class="partner-text">
									Prudentia’s Crypto Counsel service provides a complete end to end solution for blockchain clients.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
		   </div>

			<div class="row">
				<div class="col-md-6 col-sm-6 btm-space">
					<a href="https://www.genesisblockhk.com/" target="_blank">
						<div class="partner-box">
							<span class="partner-logos" id="genesisblock"></span>
							<div class="partner-desc">
								<p class="partner-name">GenesisBlock</p>	
								<p class="partner-text">
									Genesis Block is a premier OTC trading company for Bitcoin and cryptocurrencies. Learn, trade, join the Bitcoin community.
								</p>  
							</div>	 
						</div>
					</a>  
				</div>
		   </div>
		</div>			
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
	
		$('ul.tab li').click(function(){
			var tab_id = $(this).attr('data-tab');

			$('ul.tab li').removeClass('current');
			$('.tab-content').removeClass('current');

			$(this).addClass('current');
			$("#"+tab_id).addClass('current');
		});

	})
</script>