<section id="section-crose-chain" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">  
	<div class="row-section">
		<div class="f-text-title">Cross-chain liquidity</div>  

		<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<img src="../images/crose-chain/crose-chain-img.svg" alt="img" />
		</div>

		<div class="f-text-text">
			Arth is compatible with tokens and currencies from other blockchains to create a massive 
			liquidity pool across the chains. You can stake, lend, borrow, 
			trade Arth across chains. (coming soon)
		</div>
	</div>
</section>
