<section id="section-three-features">
	<div class="feature_title" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
		Built on Layer 2 Protocols
    </div>
    <div class="product_title_text" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
			MahaDAO is the first DAO to implement it's valuecoin across mulitple
      <br />
      different layer-2 chains and leverage all of their features.

		</div>
	<div class="card-deck row">
		<div class="col-12 col-md-4">
			<div class="card" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					<img src="./img/feature-icon-2/f-icon-1.svg" class="img-top" alt="..." />
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Light.
						<br />
						Speed Ahead.
					</h5>
					<p class="card-text">
						Less than 3 seconds. That’s the average time it takes to transact ARTH. ARTH is money
						at the borderless speed of light.
					</p>
					<div class="pitch">
						#Defi at its fastest
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					<img src="./img/feature-icon-2/f-icon-2.svg" class="img-top" alt="..." />
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Gas fees.
						<br />
						Evaporated.
					</h5>
					<p class="card-text">
						With meta-transactions, MahaDAO has eliminated gas fees for you. You can use ARTH coins
						without any coverages, overheads or hidden transaction fees.
					</p>
					<div class="pitch">
						#Defi at its lowest cost
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
				<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					<img src="./img/feature-icon-2/f-icon-3.svg" class="img-top" alt="..." />
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Simply,
						<br />
						Effortless
					</h5>
					<p class="card-text">
						MahaDAO ensures trouble-free onboarding of users providing an awesome UX and a
						crystal clear flow of ARTH. Simple, effective and smooth.
					</p>
					<div class="pitch">
						#Defi at its smoothest
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
  /* Rectangle 101 */
#section-three-features{
  margin-top: 0;
}

.feature_title{
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
</style>
