<section id="section-title">
	<div class="title-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		<span class="main-title">
			Timeless value.
		</span>
		<br />
		World's first non-depreciating currency
	</div>
	<div class="title-down-text" style="max-width: 400px" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true"> 
		<div class="line"></div>
		Introducing ARTH coin. A new kind of money
		that maintains it's buying power
		irrespective of which direction the market moves.
	</div>	
</section>