<section id="section-three-features">
	<div class="card-deck row">
		<div class="col-12 col-md-4">
			<div class="card" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<div class="img-container img-container-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					<img src="./img/feature-icon/f-icon-1.svg" class="img-top" alt="..." />
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Preserve Buying
						<br />
						Power
					</h5>
					<p class="card-text">
						No more erosion of hard-earned wealth due to inflation. ARTH protects and increases your purchasing power shielding your financial
						life from the effects of excessive money printing.
					</p>
                </div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<div class="img-container img-container-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					<img src="./img/feature-icon/f-icon-2.svg" class="img-top" alt="..." />
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Value
						<br />
						Stable
					</h5>
					<p class="card-text">
						ARTH is pegged against a Global Measurement Unit consisting of a well-diversified, anti-corelated,
						carefully curated basket of assets to provide ARTH users a lasting stability of intrinsic value.
					</p>
        </div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
				<div class="img-container img-container-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					<img src="./img/feature-icon/f-icon-3.svg" class="img-top" alt="..." />
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Fair Wealth
						<br />
						Distribution
					</h5>
					<p class="card-text">
						With a community-centered, decentralised approach,
						ARTH paves the way for a new and better financial world with fair and equal,
						non-concentrated reserve of wealth. Governed by you.
					</p>
        </div>
			</div>
		</div>
	</div>
</section>
