<section  id="section-media-coverage" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	
	<div class="f-text-title">
		Media Coverage
	</div>

	<div class="card-deck row no-gutters">
		<div class="col-12 col-sm-6 col-md-3 card"> <a target="_blank" href="https://finance.yahoo.com/news/defi-protocol-mahadao-announces-ido-131000277.html?guccounter=1#:~:text=TORTOLA,%20BRITISH%20VIRGIN%20ISLANDS%20%2F%20ACCESSWIRE,chain%20pools,%20on%20December%2017"><div class="media-logo media-logo-1"></div></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card"> <a target="_blank" href="https://coincodex.com/article/10171/mahadao-defi-protocol-taps-polkastarter-for-its-ido/"><div class="media-logo media-logo-2"></div></a> </div>	
		<div class="col-12 col-sm-6 col-md-3 card"> <a target="_blank" href="https://cryptodaily.co.uk/2020/12/mahadao-will-host-one-of-the-first-idos-on-polkastarter"><div class="media-logo media-logo-3"></div></a> </div>	
		<div class="col-12 col-sm-6 col-md-3 card"> <a target="_blank" href="https://ihodl.com/topnews/2020-12-14/polkastarter-dex-launches-mahadao-token-sale-its-first-week/"><div class="media-logo media-logo-4"></div></a> </div>		
	</div>
	
</section>
