<section id="section-partners">
   <div class="partners">
    <div class="our-partners col-12 col-md-6">Our Partners</div>
    <div class="f-cards">
    <div class="card1 col-6 col-md-3" style="">
      <img
        src="images/partnerLogo/1logo.svg" class="f-card-img-top" alt="..."/>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/partnerLogo/2logo.svg" class="f-card-img-top" alt="..." />
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/partnerLogo/3logo.svg" class="f-card-img-top" alt="..."/>
    </div>
      <div class="card1 col-6 col-md-3" style="">
      <img src="images/partnerLogo/4logo.svg" class="f-card-img-top" alt="..." />
    </div>
 </div>
  </div>
  <div class="line">
</section>

<style>
  @media screen(max-width:100%){
    .logo-section{
      dispaly:flex;
    }
  }
</style>