<section class="arth-section" id="section-partners">
	<div class="arth-heading arth-heading-regular" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Our Partners
		<div class="row partner-logo-container-row" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-1"></span></div>
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-2"></span></div>
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-3"></span></div>
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-4"></span></div>
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-5"></span></div>
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-6"></span></div>
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-7"></span></div>
			<div class="col-md-2 col-sm-6 partner-logo-container"><span class="partner-logo" id="partner-logo-8"></span></div>
		</div>
		<div class="white-line" ></div>
	</div>
</section>