<section class="arth-section" id="arth-road-map">
	<div class="arth-heading arth-heading-medium" id="arth-app-usage-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Roadmap
	</div>
	<span class="arth-hr"></span>
	<div class="row arth-roadmap-q-container">
		<div class="padding-none col-12 col-md-2 arth-roadmap-q" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q3.2020</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<li>Concept</li>
				<li>Whitepaper</li>
				<li>ARTH Alpha Launch</li>
			</ul>
		</div>
		
		
		<div class="padding-none col-12 col-md-3 arth-roadmap-q"  data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q4.2020</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<li>Token Generation Event: MAHA</li>
				<li>ARTH Phase 1 Launch</li>
				<li>Initial DEX Offering</li>
				<li>Governance Portal Launch</li>
				<li>Phase 2 Research</li>
			</ul>
		</div>
		
		
		<div class="padding-none col-12 col-md-3 arth-roadmap-q" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q1.2021</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<li>ARTH Phase 2 Launch</li>
				<li>ARTH CDP Portal Launch</li>
				<li>Community Governance </li>
				<li>dApp Integrations</li>
			</ul>
		</div>
		
		
		<div class="padding-none col-12 col-md-4 arth-roadmap-q" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q2.2021</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<div class="last-link">		
					<li><span> Chain Liquidity</span></li>
					<li><span>Adoption By DeFi Platforms & DEXs</span></li>
					<li><span>Gasless Wallet</span></li>
					<li><span>Developer, influencer & Community Growth Programmes</span></li>				
				</div>
				<div class="last-link">	
					<li><span>Community Driven</span></li>	
				</div>


			</ul>
		</div>
	</div>
</section>