<section id="section-crose-chain" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
	<div class="row-section">
		<div class="f-text-title">Staking Maha Token and Get Rewards</div>
  
		<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<img src="../images/crose-chain/maha-token-img.svg" alt="img" />
		</div>

		<div class="f-text-text f-text-text2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt erat morbi 
			sit accumsan eleifend placerat. In nec, at porttitor tellus mi.
		</div>
	</div>
</section>