<section class="section-f" id="team-section" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
	<div class="f-text-title">
		<span class="team-section">
			Core Team
		</span>
	</div>
	{{! <div class="f-text-text">
		Over 400 apps and services have integrated Dai,
		<br />
		including wallets, DeFi platforms, games and more.
	</div> }}
	<div class="f-cards row">

		<!--======= START UB-OCT-1======-->

		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="img/steve.png" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body">
							<h5 class="f-card-title">
								Steven Enamakel
							</h5>
							<p class="f-card-text">
								Tech & Founder
							</p>
						</div>
					</div>

					<div class="flip-back">
						<br><br>
						<ul class="social-link">
							<li><a href="https://t.me/enamakel" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100015736606471" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/senamakel/" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/enamakel/" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>-->
						</ul>
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Steven Enamakel
							</h5>
							<p class="f-card-text">
								Tech & Founder
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end flip-card cod-->

		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="img/pranay 1.png" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Pranay Sanghavi
							</h5>
							<p class="f-card-text">
								Business  & Founder
							</p>
						</div>
					</div>

					<div class="flip-back">
						<br><br>
						<ul class="social-link">
							<li><a href="https://t.me/pranaysanghavi" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>-->
							<li><a href="https://twitter.com/pranaysanghavi" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/pranaysanghavi" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>-->
						</ul>
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Pranay Sanghavi
							</h5>
							<p class="f-card-text">
								Business  & Founder
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end flip-card cod-->

		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="images/avatars/gafoor.png" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Gafoor Khan
							</h5>
							<p class="f-card-text">
								Marketing
							</p>
						</div>
					</div>

					<div class="flip-back">
						<br><br>
						<ul class="social-link">
							<li><a href="https://t.me/gafoor_k" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100028830288937" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/gafoork13" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/gafoorkhan/" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>-->
						</ul>
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Gafoor Khan
							</h5>
							<p class="f-card-text">
								Marketing
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end flip-card cod-->

		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="images/avatars/HSpic.jpg" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Harish Suthi
							</h5>
							<p class="f-card-text">
								Investor & Community Relations
							</p>
						</div>
					</div>

					<div class="flip-back">
						<br><br><br><br>
						<ul class="social-link">
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>-->
							<li><a href="https://www.linkedin.com/in/harishsuthi/" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>-->
						</ul>
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Harish Suthi
							</h5>
							<p class="f-card-text">
								Investor & Community Relations
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--end flip-card cod-->

		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="images/avatars/zoran.jpeg" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Zoran Grubisic
							</h5>
							<p class="f-card-text">
								Economist- GMU
							</p>
						</div>
					</div>

					<div class="flip-back">
						<br>
						<ul class="social-link">
							<br><br><br><br><br><br><br><br>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>-->
							<li><a href="https://www.linkedin.com/in/grubisic-zoran-52a8439/" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>-->
						</ul>
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Zoran Grubisic
							</h5>
							<p class="f-card-text">
								Economist- GMU
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end flip-card cod-->
		
		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="images/avatars/nm.jpeg" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Nenad Milak
							</h5>
							<p class="f-card-text">
								Quantitative Finance
							</p>
						</div>
					</div>

					<div class="flip-back">
						<!--<ul class="social-link">
							<li><a href="#" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>
						</ul>-->
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Nenad Milak
							</h5>
							<p class="f-card-text">
								Quantitative Finance
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end flip-card cod-->
		
		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="images/avatars/sagar.jpg" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Sagar Behara
							</h5>
							<p class="f-card-text">
								Blockchain Developer
							</p>
						</div>
					</div>

					<div class="flip-back">
						<br><br><br>
						<ul class="social-link">
							<li><a href="https://t.me/Sagarblock" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>-->
							<li><a href="https://www.linkedin.com/in/sagarbehara/" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>-->
						</ul>
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Sagar Behara
							</h5>
							<p class="f-card-text">
								Blockchain Developer
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end flip-card cod-->

		<!--start flip-card cod-->
		<div class="col-md-3 col-6">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-front">
						<img src="images/avatars/yash.jpg" class="f-card-img-top" alt="..." width="150" height="150" />
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Yash Agrawal
							</h5>
							<p class="f-card-text">
								Data Scientist
							</p>
						</div>
					</div>

					<div class="flip-back">
						<br><br><br>
						<ul class="social-link">
							<li><a href="https://t.me/yashragrawal98" class="f-card-back-link"><i class="fab fa-telegram-plane"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-twitter"></i></a></li>-->
							<li><a href="https://www.linkedin.com/in/yashragrawal" class="f-card-back-link"><i class="fab fa-linkedin-in"></i></a></li>
							<!--<li><a href="#" class="f-card-back-link"><i class="fab fa-blogger-b"></i></a></li>
							<li><a href="#" class="f-card-back-link"><i class="fab fa-pinterest-p"></i></a></li>-->
						</ul>
						<div class="f-card-body-1">
							<h5 class="f-card-title">
								Yash Agrawal
							</h5>
							<p class="f-card-text">
								Data Scientist
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end flip-card cod-->		
	</div>
	<!--======= END UB-OCT-1======-->
	<div class="f-text-title">
		Advisors
	</div>
	{{! <div class="f-text-text">
		Over 400 apps and services have integrated Dai,
		<br />
		including wallets, DeFi platforms, games and more.
	</div> }}
	<div class="f-cards">
		<div class="card1 col-6 col-md-3" style="">
			<img src="images/avatars/chirdeep1.jpeg" class="f-card-img-top" alt="..."/>
			<div class="f-card-body">
				<h5 class="f-card-title">
					Chirdeep Chhabra
				</h5>
				<p class="f-card-text">
					Strategy 
				</p>
			</div>
		</div>
		<div class="card1 col-6 col-md-3" style="">
			<img src="images/avatars/ajeet.jpg" class="f-card-img-top" alt="..."/>
			<div class="f-card-body">
				<h5 class="f-card-title">
					Ajeet Khurana
				</h5>
				<p class="f-card-text">
					Advisor 
				</p>
			</div>
		</div>
    	<div class="card1 col-6 col-md-3" style="">
			<img src="images/avatars/alex_mam.jpeg" class="f-card-img-top" alt="..."/>
			<div class="f-card-body">
				<h5 class="f-card-title">
					Alex Albano
				</h5>
				<p class="f-card-text">
					Marketing 
				</p>
			</div>
		</div>
        <div class="card1 col-6 col-md-3" style="">
			<img src="images/avatars/sam.jpg" class="f-card-img-top" alt="..."/>
			<div class="f-card-body">
				<h5 class="f-card-title">
					Samridh Seth
				</h5>
				<p class="f-card-text">
					Branding & Design 
				</p>
			</div>
		</div>
		<div class="card1 col-6 col-md-3" style="">
			<img src="images/avatars/dalpat.jpg" class="f-card-img-top" alt="..."/>
			<div class="f-card-body">
				<h5 class="f-card-title">
					Dalpat Prajapati
				</h5>
				<p class="f-card-text">
					Design
				</p>
			</div>
		</div>
		<div class="card1 col-6 col-md-3" style="">
			<img src="images/avatars/karan.jpg" class="f-card-img-top" alt="..."/>
			<div class="f-card-body">
				<h5 class="f-card-title">
					Karan Vaswani
				</h5>
				<p class="f-card-text">
					Legal
				</p>
			</div>
		</div>
		<div class="card1 col-6 col-md-3" style="">
			<img src="images/avatars/Lester.jpg" class="f-card-img-top" alt="..."/>
			<div class="f-card-body">
				<h5 class="f-card-title">
					Lester Lim
				</h5>
				<p class="f-card-text">
					Legal
				</p>
			</div>
		</div>
	</div>
</section>
