<section
  class="section-f"
  id="team-section"
  data-aos="fade-up"
  data-aos-duration="1000" data-aos-once="true"
>
  <div class="f-text-title">
    <span class="team-section">
      Core Team
    </span>
  </div>
  {{! <div class="f-text-text">
    Over 400 apps and services have integrated Dai,
    <br />
    including wallets, DeFi platforms, games and more.
  </div> }}
  <div class="f-cards row">
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/steve.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Steven Enamakel
        </h5>
        <p class="f-card-text">
          Developer & Founder
        </p>
      </div>
      {{! <a target="_blank" href="https://twitter.com/senamakel">
        <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/enamakel/">
        <i class="fab fa-linkedin"></i>
      </a> }}
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/pranay.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Pranay Sanghavi
        </h5>
        <p class="f-card-text">
          Business  & Founder
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/gafoor.png" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Gafoor Khan
        </h5>
        <p class="f-card-text">
          Marketing
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/HSPic.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Harish Suthi
        </h5>
        <p class="f-card-text">
          Investor & Community Relations
        </p>
      </div>
    </div>
    {{! <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/sam.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Samridh Seth
        </h5>
        <p class="f-card-text">
          Branding & Design
        </p>
      </div>
    </div> }}
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/yash.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Yash Agrawal
        </h5>
        <p class="f-card-text">
          Data Scientist
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/sagar.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Sagar Behara
        </h5>
        <p class="f-card-text">
          Blockchain Developer
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/anurag.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Anurag Upadhyay
        </h5>
        <p class="f-card-text">
          Blockchain Developer
        </p>
      </div>
    </div>
       <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/zoran.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Zoran Grubisic
        </h5>
        <p class="f-card-text">
          Economic 
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars/nm.jpeg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Nenad Milak
        </h5>
        <p class="f-card-text">
          Quantitative Finance 
        </p>
      </div>
    </div>
  </div>
  <div class="f-text-title">
    Advisors
  </div>
  {{! <div class="f-text-text">
    Over 400 apps and services have integrated Dai,
    <br />
    including wallets, DeFi platforms, games and more.
  </div> }}
  <div class="f-cards">
    <div class="card1 col-6 col-md-3" style="">
      <img
        src="images/avatars1/Chirdeep.jpeg"
        class="f-card-img-top"
        alt="..."
      />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Chirdeep Chhabra
        </h5>
        <p class="f-card-text">
          Strategy 
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/ajeet.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Ajeet Khurana
        </h5>
        <p class="f-card-text">
          Advisor
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img
        src="images/avatars1/Alex.jpeg"
        class="f-card-img-top"
        alt="..."
      />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Alex Albano
        </h5>
        <p class="f-card-text">
          Marketing 
        </p>
      </div>
    </div>
 
     <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/sam.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Samridh Seth
        </h5>
        <p class="f-card-text">
          Branding & Design 
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/dalpat.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Dalpat Prajapati
        </h5>
        <p class="f-card-text">
          Design
        </p>
      </div>
    </div>
    <div class="card1 col-6 col-md-3" style="">
      <img src="images/avatars1/karan.jpg" class="f-card-img-top" alt="..." />
      <div class="f-card-body">
        <h5 class="f-card-title">
          Karan Vaswani
        </h5>
        <p class="f-card-text">
          Legal 
        </p>
      </div>
    </div>
  </div>
</section>

<style>



</style>