/*** Generic/Common styles ***/

#no-txt-decoration
  text-decoration: none
  
#learn-more
  color: rgb(66, 63, 63)

#margin-27px-less
  margin-top: -27px
  
#padding-top-30
  padding-top: 30px
  
.button-small
  width: 184px
  height: 47px
  font-size: 16px
  border-radius: 45px
  background-color: #333333
  color: #ffffff
  border: 1px solid #f95921
  @media (max-width:600px)
    text-align: center

.button-small:hover
  background: linear-gradient(#f47f57, #fd5656)

.button-small:focus
  outline: none  