.header
  position: relative
  z-index: 1
  padding: 30px
  display: flex
  flex-direction: row
  // max-width: 1180

  .mahadao-logo

    @media (min-width: 400px)
      flex: 1
      height: 54.4px
      text-align: center

      img
        margin-top: 10px
        max-width: 100%

  .two_buttons
    float: right

  button
    font-family: $font-family-heading
    border: 0
    outline: none

  .button1
    width: 184px
    height: 47px
    font-size: 18px
    border-radius: 45px
    background-color: #333333
    color: #ffffff
    border: 1px solid #f95921
    @media (max-width:600px)
      text-align: center

  .button1:hover
    background: linear-gradient(#f47f57, #fd5656)

  #two_buttons
    margin: auto

    &:hover
      background-color: #444

  .two_buttons
    display: flex
    flex-direction: row

    li
      // display: inline-block
      margin: 0 10px 10px
      list-style: none

  .button2
    width: 47px
    height: 47px
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    font-size: 20px
    margin-left: 10px
    border-radius: 45px
    color: #ffffff
    background: linear-gradient(#f47f57, #fd5656)
    justify-content: center
    align-items: center

  @media (max-width: 768px)
    flex-direction: column

    nav
      position: relative

      .nav-icon  
        width: 20px
        height: 12px
        border-top: 2px solid #fff
        border-bottom: 2px solid #fff    
        display: inline-block  
        position: relative;    
        position: fixed
        right: 30px
        top: 46px
        transition: all .25s ease-in-out 

      .nav-icon:after, .nav-icon:before
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 4px;
        left: 50%; 
        background: #fff;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: -webkit-transform .25s ease-in-out;
        transition: transform .25s ease-in-out; 
        -webkit-transform .25s ease-in-out   

      .nav-icon.toggler:after 
		        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
		        transform: translate(-50%, -50%) rotate(-45deg)

      .nav-icon.toggler:before 
		        -webkit-transform: translate(-50%, -50%) rotate(45deg);
		        transform: translate(-50%, -50%) rotate(45deg)

      .nav-icon.toggler 
		        border-color: transparent

      .mainMenu
        /* height: 100vh;
        padding-top: 110px
        padding-bottom: 10px
        margin-bottom: 0;
        z-index: -1
        list-style: none
        text-decoration: none
        font-size: 16px
        flex-direction: column
        justify-content: center
        align-items: center
        background: #1E1D1D
        position: relative
        border-radius: 16px
        margin-top: -37%
        left: -10%            
        width: 119.6%
        overflow: hidden            
        transition: top 1s ease
        display: none

      .mainMenu a.button1
        color: #fff
        display: inline-block
        line-height: 47px
        font-size: 16px
        margin: 0px 0px 16px 0px
        min-width: 170px        



        .closeMenu
          display: none
          position: absolute
          top: 0px
          margin-top: -50px
          right: 20px

        li:nth-child(2n)
          background-color: #111

    .menulist
      text-decoration: none
      color: #fff
      margin-left: 20px
      font-weight: 400

    ul, nav .openMenu
      display: block

    .icons i
      display: inline-block
      padding: 12px

    a:hover
      font-weight: 600
      text-decoration: none
      color: red
