.header
  position: relative
  z-index: 1
  padding: 30px
  display: flex
  flex-direction: row
  // max-width: 1180

  .mahadao-logo

    @media (min-width: 400px)
      flex: 1
      height: 54.4px

    @media (max-width: 400px)
      text-align: center

      img
        margin-top: 10px
        max-width: 100%

  .two_buttons
    float: right

  button
    font-family: $font-family-heading
    border: 0
    outline: none

  .button1
    width: 184px
    height: 47px
    font-size: 18px
    border-radius: 45px
    background-color: #333333
    color: #ffffff
    border: 1px solid #f95921
    @media (max-width:600px)
      text-align: center

  .button1:hover
    background: linear-gradient(#f47f57, #fd5656)

  #two_buttons
    margin: auto

    &:hover
      background-color: #444

  .two_buttons
    display: flex
    flex-direction: row

    li
      // display: inline-block
      margin: 0 10px 10px
      list-style: none

  .button2
    width: 47px
    height: 47px
    font-family: $font-family-heading
    font-style: normal
    font-weight: bold
    font-size: 20px
    margin-left: 10px
    border-radius: 45px
    color: #ffffff
    background: linear-gradient(#f47f57, #fd5656)
    justify-content: center
    align-items: center

  @media (max-width: 768px)
    nav
      background: #000

      .mainMenu
        /* height: 100vh;
        position: fixed
        padding-top: 100px
        margin-bottom: 20px
        right: 0
        left: 0
        z-index: -1
        list-style: none
        text-decoration: none
        font-size: 16px
        flex-direction: column
        justify-content: center
        align-items: center
        background: #000
        transition: top 1s ease
        display: none

        .closeMenu
          display: none
          position: absolute
          top: 0px
          margin-top: -50px
          right: 20px

        li:nth-child(2n)
          background-color: #111

    .menulist
      text-decoration: none
      color: #fff
      margin-left: 20px
      font-weight: 400

    ul, nav .openMenu
      display: block

    .icons i
      display: inline-block
      padding: 12px

    a:hover
      font-weight: 600
      text-decoration: none
      color: red
