#section-media-coverage
  max-width: 1086px;
  margin: 70px auto
  text-align: center
  padding: 0px 15px
  font-family: $font-family-heading

  .f-text-title
    font-style: normal
    font-weight: bold
    font-size: 46px
    line-height: 1.2
    text-align: center
    color: #FFFFFF
    margin: 0 0 55px 0

  .card-deck
    display: flex
    justify-content: space-between
    margin: 0

  .card
    max-width: 180px
    border: none
    margin: 64px 0 0 0
    background: #333
    display: flex
    justify-content: center
    height: 80px
    align-items: center
    border-radius: 8px

  @media screen and (max-width: 500px)
    .media-logo
      width: 78px
      height: 34px
      background-size: 100%

    .media-logo-2 
      height: 18px

    .media-logo-3 
      height: 20px

    .media-logo-4 
      height: 18px

    .f-text-title
      font-size: 30px

    .card
      max-width: 48.5%
      margin-top: 10px
      height: 60px
          
    
.media-logo
    background-repeat: no-repeat
    background-size: cover
    

.media-logo-1
  background-image: url("../images/media-logo/media-logo-1.svg")
  width: 107px
  height: 46px

.media-logo-2
  background-image: url("../images/media-logo/media-logo-2.svg")
  width: 141px
  height: 34px

.media-logo-3
  background-image: url("../images/media-logo/media-logo-3.svg")
  width: 141px
  height: 55px

.media-logo-4
  background-image: url("../images/media-logo/media-logo-4.svg")
  width: 141px
  height: 30px  

#section-arth-future
  margin: 50px 0px
  font-family: $font-family-heading
  background-image: url("../images/gradiant-bg.svg")
  background-repeat: no-repeat
  background-size: cover

.arth-pattern
  background-image: url("../images/arth-pattern.svg")
  background-repeat: no-repeat
  width: 100%
  height: 354px 
  display: flex
  justify-content: center
  align-items: center  
  color: #fff
  font-weight: 700
  text-align: center
  padding: 15px

  span
    width: 885px
    font-size: 36px
    line-height: 46px

@media screen and (max-width: 500px)
  .arth-pattern
    background-size: 100%
    height: 100px

    span
      font-size: 20px
      line-height: 18px
     