<section id="arth-sec-overview" class="arth-section">
	<div id="arth-overview-title" class="arth-heading" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Purchase. Power.
		<div class="arth-para arth-para-medium" id="arth-nrml-txt" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is an innovative new form of currency backed by a basket of assets
		</div>
	</div>
</section>
<section id="padding-none margin-none arth-sec-overview" class="arth-section" data-aos="fade-up" data-aos-duration="2050" data-aos-once="true">
	<span id="arth-overview-image"></span>
</section>


<section class="arth-section" id="arth-everything">
	<div class="arth-heading arth-heading-regular" id="arth-everything-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		<span id="arth-coin-img"></span>

		ARTH. It's everything money should be. And more.
		<div class="arth-para arth-para-regular" id="arth-everything-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is designed to fight depreciation of wealth & help you pay less for more. <br/>
			You purchasing power increases as you preserve ARTH. No matter the fluctuation in the
			market, the value of your money never drops.
		</div>
	</div>
</section>

<section class="arth-section" id="arth-maha-dao">
	<div class="arth-heading arth-heading-regular" id="arth-maha-dao-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		MahaDAO Protocal
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			MAHA is the governance and utility token that powers ARTH. The protocal behind ARTH illuminates the user<br/>
			to shatter the illusion between the real and nominal value of money by combating inflation.
		</div>
		<div class="arth-para arth-para-regular" id="arth-red-text" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			Compatible with major DeFi protocols, you can <br> farm, stake, lend, borrow, or save Arth.
		</div>
	</div>
</section>

<section id="padding-none arth-sec-overview" class="arth-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<span id="arth-maha-dao-image"></span>
</section>

<section class="arth-section" id="arth-supported-token">
	<div class="arth-heading arth-heading-regular" id="arth-supported-token-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Supported Tokens
		<div class="row dis-flex-center" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-dai"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-usdt"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-matic"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-easyfi"></span></div>
		</div>
	</div>
</section>

<section class="arth-section" id="arth-app-usage">
	<div class="arth-heading arth-heading-regular" id="arth-app-usage-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Application & Usage
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is for students, shoppers, tourists, businessmen, employees,<br> passengers, institutions & governments. Anyone exchanging value.
		</div>
		<div class="arth-para arth-para-regular" id="arth-red-text" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is represented in your currency, in your jurisdiction. 
		</div>
		
		<div class="app-usage-img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-12 col-md-4 app-usage">
				<div class="app-usage-title">Business & Personal</div>
				<div class="app-usage-gradient-border"></div>
				<div class="app-usage-image">
					<span class="app-usage-image-title">Peer to Peer <br/> Retail <br/> Corporates & SMBs</span>
				</div>
			</div>
			
			<div class="col-12 col-md-4 app-usage">
				<div class="app-usage-title">Institutional</div>
				<div class="app-usage-image">
					<span class="app-usage-image-title">Banking <br/> Insurance <br/> Financial Services</span>
				</div>
			</div>
			
			<div class="col-12 col-md-4 app-usage">
				<div class="app-usage-title">Governments</div>
				<div class="app-usage-image">
					<span class="app-usage-image-title">Public Sector <br/> Utilities <br/> Infrastructure</span>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="arth-section" id="arth-tech">
	<div class="arth-heading arth-heading-regular" id="arth-tech-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Technology
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			Arth is an algorithmic value-stable coin built using robust strategies like vault optimization,<br>
			auto collateralisation ratio, automatic rebalancing mechanism, anti-correlated asset<br>
			selection, purchasing power pegging, oracle pricefeeds and more. 
		</div>
		
		<!--<div id="arth-technology-image"></div>
		<div id="arth-technology-image-mb"></div>-->
		
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-border-img"></span>

				Cross-border transactions
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					Deployed on Layer 2 Protocol, Arth offers transactions speed of less than 3 seconds to cross the border from your wallet to another
					across the globe. The very near future version of Arth shall be a cross-chain solution that brings the power of value coin to other
					blockchains like Ethereum and more
				</div>
			</div>
		</section>
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-chain-img"></span>

				Cross-chain liquidity
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					Arth is compatible with tokens and currencies from other blockchains to create a massive liquidity pool across the chains.
					You can stake, lend, borrow, trade Arth across chains. (coming soon)
					</div>
				</div>
			</div>
		</section>
		
		<!--<div class="arth-tech-card row">
			<div class="col-12 col-md-5 arth-tech-card-col">
				<div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="">
						Deployed on Layer 2 Protocol, Arth offers transactions speed of less than 3 seconds to cross the border from your wallet to another across the globe. The very near future version of Arth shall be a cross-chain solution that brings the power of value coin to other blockchains like Ethereum and more
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5 arth-tech-card-col">
				<div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="">
						Arth is compatible with tokens and currencies from other blockchains to create a massive liquidity pool across the chains. You can stake, lend, borrow, trade Arth across chains. (coming soon)
					</div>
				</div>
			</div>
		</div>-->	
	</div>
</section>
<section class="arth-section" id="arth-road-map">
	<div class="arth-heading arth-heading-medium" id="arth-app-usage-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Roadmap
	</div>
	<span class="arth-hr"></span>
	<div class="row arth-roadmap-q-container">
		<div class="padding-none col-12 col-md-2 arth-roadmap-q" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q3.2020</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<li>Concept</li>
				<li>Whitepaper</li>
				<li>Arth Alpha Launch</li>
			</ul>
		</div>
		
		
		<div class="padding-none col-12 col-md-3 arth-roadmap-q"  data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q4.2020</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<li>Token Generation Event: MAHA</li>
				<li>Arth Phase 1 Launch</li>
				<li>Initial DEX Offering</li>
				<li>Governance Portal Launch</li>
				<li>Phase 2 Research</li>
			</ul>
		</div>
		
		
		<div class="padding-none col-12 col-md-3 arth-roadmap-q" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q1.2021</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<li>Arth Phase 2 Launch</li>
				<li>Arth CDP Portal Launch</li>
				<li>Community Governance </li>
				<li>dApp Integrations</li>
			</ul>
		</div>
		
		
		<div class="padding-none col-12 col-md-4 arth-roadmap-q" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
			<div class="arth-roadmap-q-title">Q2.2021</div>
			<ul class="arth-roadmap-q-border">
				<li class="arth-roadmap-circle"></li>
				<li class="arth-roadmap-line"></li>
			</ul>
			<ul class="arth-roadmap-q-lists">
				<li>Cross Chain Liquidity</li>
				<li>Adoption By DeFi Platforms and DEXs</li>
				<li>Gasless Wallet</li>
				<li>Developer, influencer & Community Growth Programmes</li>
				<li>Community Driven</li>
			</ul>
		</div>
	</div>
</section>
<section data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<span class="arth-hr-reverse" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true"></span>
</section>	
<section class="arth-section" id="arth-lead-rev">
	<div class="arth-heading" id="arth-maha-dao-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Lead the revolution
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			Arth eliminates price instability and value erosion. Control your financial future, increase your money’s worth. 
		</div>
		<div class="arth_lead_flex row">
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A revolutionary medium of exchange whose purchasing power grows with you.
					</div>
				</div>
			</div>
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A timeless store of value that is preserved across the generations.
					</div>
				</div>
			</div>
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A decentralised Money that is governed by the community, and by you.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="arth-section" id="arth-section-title">
	<div class="arth-heading arth-heading-regular main-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		ARTH. Money Reinvented
		<div class="arth-para arth-para-regular" id="arth-section-title-sub" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			Join the mission as we establish a new standard of money. A better money.
		</div>			
	</div>
</section>
