<section id="arth-sec-overview" class="arth-section">
	<div id="arth-overview-title" class="arth-heading" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Purchase. Power.
		<div class="arth-para arth-para-medium" id="arth-nrml-txt" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is an innovative new form of currency backed by a basket of assets
		</div>
	</div>
</section>

<section id="arth-sec-overview" class="arth-section" data-aos="fade-up" data-aos-duration="2050" data-aos-once="true">
	<div id="arth-overview-image">
		<div class="icon-section">
			<div class="pulse1"></div>
			<div class="pulse2"></div>
			<div class="pulse3"></div>
			<div class="pulse4"></div>
			<div class="pulse5"></div>
			<div class="pulse6"></div>
			<div class="pulse7"></div>

			<img src="./images/arth-globe/arth-globe-black-ring.svg" alt="black-ring" class="black-ring-ring" />
			<img src="./images/arth-globe/arth-globe-horizontal-eclipse.svg" alt="black-ring" class="globe-horizontal-ring" />
			<img src="./images/arth-globe/arth-globe-vertical-eclipse.svg" alt="black-ring" class="globe-vertical-ring" />

			<img src="./images/arth-globe/arth-globe-ring.svg" alt="ring" class="rightpara-leftfig-img" />
			<span class="coin-gradient-red"><img src="./images/arth-globe/arth-globe-coin.svg" alt="coin" class="rightpara-leftfig-img-inner arth"/></span>
				
				<span class="arth-desc arth-desc-box-1 text-animation-none"><font class="txt txt-1 d-none d-md-block">RESILIENT</font></span>
				<span class="arth-desc arth-desc-box-2 text-animation-none"><font class="txt txt-2 d-none d-md-block">ELASTIC</font></span>				
				<span class="arth-desc arth-desc-box-3 text-animation-none"><font class="txt txt-3 d-none d-md-block">FLEXIBLE</font></span>				
				<span class="arth-desc arth-desc-box-4 text-animation-none"><font class="txt txt-4 d-none d-md-block">MULTI <br>COLLATERALISED </font></span>

				<span class="arth-desc arth-desc-box-1"></span>
				<span class="arth-desc arth-desc-box-2"></span>				
				<span class="arth-desc arth-desc-box-3"></span>				
				<span class="arth-desc arth-desc-box-4"></span>
		</div>
	</div>
</section>


<section class="arth-section" id="arth-everything">
	<div class="arth-heading arth-heading-regular" id="arth-everything-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		<span id="arth-coin-img"></span>

		ARTH. It's everything money should be. And more.
		<div class="arth-para arth-para-regular" id="arth-everything-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is designed to fight depreciation of wealth & help you pay less for more. <br/>
			You purchasing power increases as you preserve ARTH. No matter the fluctuation in the
			market, the value of your money never drops.
		</div>
	</div>
</section>

<section class="arth-section" id="arth-maha-dao">
	<div class="arth-heading arth-heading-regular" id="arth-maha-dao-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		MahaDAO Protocol
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			MAHA is the governance and utility token that powers ARTH. The protocol behind ARTH illuminates the user<br/>
			to shatter the illusion between the real and nominal value of money by combating inflation.
		</div>
		<div class="arth-para arth-para-regular" id="arth-red-text" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			Compatible with major DeFi protocols, you can <br> farm, stake, lend, borrow, or save ARTH.
		</div>
	</div>
</section>

<section id="padding-none arth-sec-overview" class="arth-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<span id="arth-maha-dao-image"></span>
</section>

<section class="arth-section" id="arth-supported-token">
	<div class="arth-heading arth-heading-regular" id="arth-supported-token-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Supported Tokens
		<div class="row dis-flex-center" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-dai"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-usdt"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-matic"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-easyfi"></span></div>
		</div>
	</div>
</section>

<section class="arth-section" id="arth-app-usage">
	<div class="arth-heading arth-heading-regular" id="arth-app-usage-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Application & Usage
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is for students, shoppers, tourists, businessmen, employees,<br> passengers, institutions & governments. Anyone exchanging value.
		</div>
		<div class="arth-para arth-para-regular" id="arth-red-text" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is represented in your currency, in your jurisdiction. 
		</div>
		
		<div class="app-usage-img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-12 col-md-4 app-usage">
				<div class="app-usage-title">Business & Personal</div>
				<div class="app-usage-gradient-border"></div>
				<div class="app-usage-image">
					<span class="app-usage-image-title">Peer to Peer <br/> Retail <br/> Corporates & SMB</span>
				</div>
			</div>
			
			<div class="col-12 col-md-4 app-usage">
				<div class="app-usage-title">Institutional</div>
				<div class="app-usage-image">
					<span class="app-usage-image-title">Banking <br/> Insurance <br/> Financial Services</span>
				</div>
			</div>
			
			<div class="col-12 col-md-4 app-usage">
				<div class="app-usage-title">Governments</div>
				<div class="app-usage-image">
					<span class="app-usage-image-title">Public Sector <br/> Utilities <br/> Infrastructure</span>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="arth-section" id="arth-tech">
	<div class="arth-heading arth-heading-regular" id="arth-tech-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Technology
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is an algorithmic value-stable coin built using robust strategies like vault optimization,<br>
			auto collateralisation ratio, automatic rebalancing mechanism, anti-correlated asset<br>
			selection, purchasing power pegging, oracle price feeds and more. 
		</div>
		
		<!--<div id="arth-technology-image"></div>
		<div id="arth-technology-image-mb"></div>-->
		
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-border-img"></span>

				Cross-border transactions
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					Deployed on Layer 2 Protocol, ARTH offers transactions speed of less than 3 seconds to cross the border from your wallet to another
					across the globe. The very near future version of ARTH shall be a cross-chain solution that brings the power of value coin to other
					blockchains like Ethereum and more
				</div>
			</div>
		</section>
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-chain-img"></span>

				Cross-chain liquidity
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					ARTH is compatible with tokens and currencies from other blockchains to create a massive liquidity pool across the chains.
					You can stake, lend, borrow, trade ARTH across chains. (coming soon)
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<section data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<span class="arth-hr-reverse" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true"></span>
</section>	
<section class="arth-section" id="arth-lead-rev">
	<div class="arth-heading" id="arth-maha-dao-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Lead the revolution
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH eliminates price instability and value erosion. Control your financial future, increase your money’s worth. 
		</div>
		<div class="arth_lead_flex row">
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A revolutionary medium of exchange whose purchasing power grows with you.
					</div>
				</div>
			</div>
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A timeless store of value that is preserved across the generations.
					</div>
				</div>
			</div>
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A decentralised Money that is governed by the community, and by you.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="arth-section" id="arth-section-title">
	<div class="arth-heading arth-heading-regular main-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		ARTH. Money Reinvented.
		<div class="arth-para arth-para-regular" id="arth-section-title-sub" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			Join the mission as we establish a new standard of money. A better money.
		</div>			
	</div>
</section>
