<!--<section class="product-section" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
	<div class="" style="margin-top:60px;">
		<img src="./img/arth-coin-1.svg" alt="frame" style="margin:auto; display:flex;"/>
		<div class="" style="font-size: 36px; margin-top: 11px; text-align: center; color: #FFFFFF;"data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
			ARTH. It’s everything money should be. And more.
		</div>
		<div class="row">
			
			<div class="col-md-6 col-sm-5" style="font-size: 18px; margin: 11px auto 0; text-align: center; color: #969696;" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				ARTH is designed to fight depreciation of wealth & help you pay less for more.<br>
				Your purchasing power increases as you preserve ARTH.
				No matter the fluctuation in the market, the value of your money never drops. 
			</div>
			
		</div>
	</div>
</section>-->